.input{
    max-width: 800px;
    width: 100%;
    min-height: 48px;
    border: 1px solid #3D3D3D;
    border-radius: 4px;
    background-color: #3D3D3D;
    margin-bottom: 30px;
    padding-left: 20px;
    outline: none;
}

.input:focus{
    color: #fff;
}
.input:focus::placeholder{
    color: #fff;
}