.input{
    max-width: 800px;
    width: 100%;
    min-height: 48px;
    border: 1px solid #3D3D3D;
    border-radius: 4px;
    background-color: #3D3D3D;
    margin-bottom: 30px;
    padding-left: 20px;
    outline: none;
}
.input-wrapper{
    position: relative;
}
.input:focus{
    color: #fff;
}
.input:focus::placeholder{
    color: #fff;
}
.input:not(:placeholder-shown){
    color: #fff;
}
.error{
    display: block;
    color: #ff3c3c;
    padding-left: 20px;
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 2;
    font-size: 12px;
}